<% 

list = chat['list']
%>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    
                </div>
                <div class="panel-body">
                        <dl class="dl-left" id="chat_messages">
                        
                            <% list.each do | mes|%>
                                <%= "<dt>#{mes['user_name']}</dt><dd>#{mes['message']}</dd>".html_safe %>
                            <%end%>
                        </dl>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" class="form-control input-sm" placeholder="Type your message here..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
