
<br />
<p>
<strong>Ситиполия(Монополия)</strong> - это классическая игра, в которой Вы можете покупать, арендовать и продавать свою собственность! В начале игры участники выставляют свои фишки на поле «Вперед», затем перемещают их по игровому полю в зависимости от выпавшего на кубиках количества очков. Если Вы попадаете на Участок Недвижимости, которая пока еще никому не принадлежит, то Вы можете купить эту Недвижимость у Банка. Если Вы решаете не покупать ее, она может быть продана на Аукционе другому игроку, предложившему за нее самую высокую цену. Игроки, которые имеют свою Недвижимость, могут взимать арендную плату с игроков, которые попадают на их Участок. При строительстве Домов и Гостиниц арендная плата значительно возрастает, поэтому Вам следует вести строительство на как можно большем количестве Участков. Если Вы нуждаетесь в дополнительных деньгах, Вы можете заложить Вашу Недвижимость. В ходе игры Вам следует всегда выполнять указания, написанные на карточках «Общая казна» и карточках «Шанс». Но не расслабляйтесь - в некоторых случаях Вас могут посадить в тюрьму.<br>
</p>
<br />
<% if logged_in? %>

	<a href="/site/games"><%= t "game_list" %>  </a>
<% else %>

	<a href="/sessions/login"><%= "#{t "login"}" %> </a>
<% end %>

